@use '../../scss/_abstracts/' as *;

.section-portfolio {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  position: relative;
  padding-bottom: 30px;

  @media (max-width: 460px) {
    width: 100%;
    height: auto;
    margin: 5% 0 20% 0;
  }

  .image-dotted {
    position: absolute;
    width: 380px;
    top: 20px;
    left: 0;
    opacity: 0.2;
    z-index: -1;

    @media (max-width: 460px) {
        width: auto;
        left: 0;
        right: 0;
    }
  }

  pre {
      position: absolute;
      color: $dark-grey-color;
      right: 80px;
      top: -25px;
      letter-spacing: -2px;
      line-height: 150px;
      font-weight: 800;
      font-size: 12rem;
      opacity: 0.1;
      z-index: -1;

      @media (max-width: 460px) {
        left: -20px;
        font-size: 8rem;
      }
    }

  .w-80 {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    position: relative;

    

      .portfolio {
        display: flex;
        width: 100%;
        justify-content: space-between;
      
      .section-right-column {
        @include d-flex-column-justify-center();
        span {
          font-size: 0.9rem;
          letter-spacing: -1px;
        }

        h1 {
          font-size: 3rem;
          .dot {
            font-size: 3rem;
            color: $orange-color;
          }
        }

        p {
          font-size: inherit;
          font-weight: 400;
          opacity: 0.8;
        }
      }
      .section-left-column {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        

        @media (max-width: 460px) {
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          
        }

        a {
          padding: 0 7px;
          font-size: 1.1rem;
          color: $dark-grey-color;

          &:hover {
            font-size: 1.4rem;
            transition: 0.3s;
          }
        }
      }
    }
    @media (max-width: 892px) {
      .portfolio {
        flex-direction: column;

        .section-right-column {
          align-items: center;
          padding-bottom: 20px;
        }

        .section-left-column {
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
        }
      }
    }
  }

  .portfolio-images {
    @include d-flex-column-justify-center();
    align-items: center;
    width: 100%;
    height: 100%;

    .upper-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 380px;
        height: auto;
        padding: 10px;

        &:hover {
          opacity: 0.6;
          width: 380px;
          height: 380px;
        }
      }

      @media (max-width: #{$screen-lg-min}) {
          img {
            width: 280px;
            height: 280px;
          }
        }

        @media (max-width: #{$screen-md-min}) {
          img {
            width: 220px;
            height: 220px;
          }
        }
    }

    .btn-portfolio {
      @include d-flex-center();
      margin-top: 30px;

      img {
        margin-left: 7px;
        width: 10px;
      }
    }
  }
}
