@use '../../scss/_abstracts/' as *;

.who-i-am {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding-bottom: 30px;

  @media (max-width: #{$screen-lg-min}) {
    width: 100%;
    height: auto;
    margin: 30% 0px;
  }

  .section-who-i-am {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .image-column {
    @include d-flex-center();
    align-items: center;
    width: 48%;
    margin-right: 20px;


    @media (max-width: #{$screen-lg-min}) {
      width: 100%;
      margin-top: 20%;
    }

    img {
      width: 400px;
      height: auto;
      z-index: -1;
    }
  }

  .text-column {
      @include d-flex-column-justify-center();
        width: 40%;
        position: relative;

        @media (max-width: #{$screen-lg-min}) {
          width: 100%;
          padding: 0 30px;
        }

        @media (max-width: #{$screen-sm-min}) {
          padding: 0;
        }

      pre {
        position: absolute;
        left: -120px;
        color: $dark-grey-color;

        font-weight: 800;
        font-size: 10rem;
        opacity: 0.1;
        line-height: 140px;
        z-index: -1;

        @media (max-width: #{$screen-lg-min}) {
          left: 0;
          font-size: 8rem;
        }
      }
      
      img {
        position: absolute;
        width: 400px;
        right: -60px;
        opacity: 0.2;
        z-index: -1;

        @media (max-width: #{$screen-lg-min}) {
          width: auto;
          right: 0;
        }
      }

      span {
        letter-spacing: -1px;
      }

      h1 {
        font-size: 3.5em;

        span {
          color: $orange-color;
        }
      }

      p {
        line-height: 30px;
      }

      a {
        margin-top: 10px;
        color: $orange-color;
      }
    }
  }
  @media (max-width: 892px) {
    .section-who-i-am {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      padding: 20px;
    }

    .text-column {
      margin-top: 20px;
    }
  }
}