@use '../../scss/_abstracts' as *;

nav {
  display: flex;
  align-items: center;
  height: auto;

  padding: 10px 0;
  margin-top: 20px;

  h3 {
    margin-right: 40px;
    font-weight: 600;

    &:hover {
      font-size: 1.9rem;
      transition: 0.3s;
    }

    span {
      color: $orange-color;
    }
  }

  a {
    padding: 0 15px;
    font-size: 1.1rem;
    color: $dark-grey-color;

    &:hover {
      font-size: 1.4rem;
      transition: 0.3s;
    }
  }
}