@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin mt-10 {
  margin-top: 10%; 
}

@mixin mb-10 {
  margin-bottom: 10%;
}