@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$font-roboto: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font-roboto;
}

@media(max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 85%;
  }
}


body {
  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    font-family: $font-roboto;
    font-weight: 400;
  }
}